
data/raw/zcta5_data/zcta5.xml
data/raw/zcta5_data/zcta5.shx
data/raw/zcta5_data/zcta5.shp
data/raw/zcta5_data/zcta5.prj
data/raw/zcta5_data/zcta5.dbf
data/raw/zcta5_data/zcta5.cpg
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.shx
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.shp.xml
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.shp
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.prj
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.dbf
data/raw/transmission_line_data/Electric_Power_Transmission_Lines_B.cpg
data/raw/Population-Density-Final.xlsx
data/raw/national_risk_index/NRI_Counties_Prod.shx
data/raw/national_risk_index/NRI_Counties_Prod.shp.xml
data/raw/national_risk_index/NRI_Counties_Prod.shp
data/raw/national_risk_index/NRI_Counties_Prod.prj
data/raw/national_risk_index/NRI_Counties_Prod.dbf
data/raw/national_risk_index/NRI_Counties_Prod.cpg
data/raw/national_risk_index/.DS_Store
data/raw/FTTP_data.csv
data/raw/cell_towers.csv
data/raw/cable_fixed_broadband_data.csv
data/raw/brasil/infraestrutura_eletrica/subestacao.geojson
data/raw/brasil/infraestrutura_eletrica/linha_transmissao.geojson
data/raw/brasil/datacenter_map_scraped_brasil.csv
data/raw/brasil/.DS_Store
data/raw/5G_data/5G_data.shx
data/raw/5G_data/5G_data.shp
data/raw/5G_data/5G_data.prj
data/raw/5G_data/5G_data.dbf
data/raw/110m_cultural/VERSION
data/raw/110m_cultural/README.md
data/raw/110m_cultural/ne_110m_populated_places_simple.VERSION.txt
data/raw/110m_cultural/ne_110m_populated_places_simple.shx
data/raw/110m_cultural/ne_110m_populated_places_simple.shp
data/raw/110m_cultural/ne_110m_populated_places_simple.README.html
data/raw/110m_cultural/ne_110m_populated_places_simple.prj
data/raw/110m_cultural/ne_110m_populated_places_simple.dbf
data/raw/110m_cultural/ne_110m_populated_places_simple.cpg
data/raw/110m_cultural/ne_110m_populated_places.VERSION.txt
data/raw/110m_cultural/ne_110m_populated_places.shx
data/raw/110m_cultural/ne_110m_populated_places.shp
data/raw/110m_cultural/ne_110m_populated_places.README.html
data/raw/110m_cultural/ne_110m_populated_places.prj
data/raw/110m_cultural/ne_110m_populated_places.dbf
data/raw/110m_cultural/ne_110m_populated_places.cpg
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.shx
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.shp
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.README.html
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.prj
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.dbf
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.cpg
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.shx
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.shp
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.README.html
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.prj
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.dbf
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lines.cpg
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.shx
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.shp
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.README.html
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.prj
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.dbf
data/raw/110m_cultural/ne_110m_admin_1_states_provinces_lakes.cpg
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.shx
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.shp
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.sbx
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.sbn
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.README.html
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.prj
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.dbf
data/raw/110m_cultural/ne_110m_admin_1_states_provinces.cpg
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.shx
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.shp
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.README.html
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.prj
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.dbf
data/raw/110m_cultural/ne_110m_admin_0_tiny_countries.cpg
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.shx
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.shp
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.README.html
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.prj
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.dbf
data/raw/110m_cultural/ne_110m_admin_0_sovereignty.cpg
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.shx
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.shp
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.README.html
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.prj
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.dbf
data/raw/110m_cultural/ne_110m_admin_0_scale_rank.cpg
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.shx
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.shp
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.README.html
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.prj
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.dbf
data/raw/110m_cultural/ne_110m_admin_0_pacific_groupings.cpg
data/raw/110m_cultural/ne_110m_admin_0_map_units.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_map_units.shx
data/raw/110m_cultural/ne_110m_admin_0_map_units.shp
data/raw/110m_cultural/ne_110m_admin_0_map_units.README.html
data/raw/110m_cultural/ne_110m_admin_0_map_units.prj
data/raw/110m_cultural/ne_110m_admin_0_map_units.dbf
data/raw/110m_cultural/ne_110m_admin_0_map_units.cpg
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.shx
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.shp
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.README.html
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.prj
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.dbf
data/raw/110m_cultural/ne_110m_admin_0_countries_lakes.cpg
data/raw/110m_cultural/ne_110m_admin_0_countries.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_countries.shx
data/raw/110m_cultural/ne_110m_admin_0_countries.shp
data/raw/110m_cultural/ne_110m_admin_0_countries.README.html
data/raw/110m_cultural/ne_110m_admin_0_countries.prj
data/raw/110m_cultural/ne_110m_admin_0_countries.dbf
data/raw/110m_cultural/ne_110m_admin_0_countries.cpg
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.VERSION.txt
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.shx
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.shp
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.README.html
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.prj
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.dbf
data/raw/110m_cultural/ne_110m_admin_0_boundary_lines_land.cpg
data/raw/110m_cultural/CHANGELOG
code/1000.geojson
code/10000.geojson
code/25000.geojson
code/5000.geojson
code/50000.geojson
data/raw/.DS_Store
data/raw/us/national_risk_index/.DS_Store
data/raw/us/broadband/FTTP_data.csv
data/raw/us/broadband/cable_fixed_broadband_data.csv
data/raw/us/5G_data/5G_data.shx
data/raw/us/5G_data/5G_data.shp
data/raw/us/5G_data/5G_data.prj
data/raw/us/5G_data/5G_data.dbf
data/raw/Substations.csv
data/raw/global/VIIRS/SVDNB_npp_20241201-20241231_global_vcmcfg_v10_c202501131100.avg_rade9h.tif
data/raw/global/cell_towers.csv
data/raw/global/110m_cultural/VERSION
data/raw/global/110m_cultural/README.md
data/raw/global/110m_cultural/ne_110m_populated_places_simple.VERSION.txt
data/raw/global/110m_cultural/ne_110m_populated_places_simple.shx
data/raw/global/110m_cultural/ne_110m_populated_places_simple.shp
data/raw/global/110m_cultural/ne_110m_populated_places_simple.README.html
data/raw/global/110m_cultural/ne_110m_populated_places_simple.prj
data/raw/global/110m_cultural/ne_110m_populated_places_simple.dbf
data/raw/global/110m_cultural/ne_110m_populated_places_simple.cpg
data/raw/global/110m_cultural/ne_110m_populated_places.VERSION.txt
data/raw/global/110m_cultural/ne_110m_populated_places.shx
data/raw/global/110m_cultural/ne_110m_populated_places.shp
data/raw/global/110m_cultural/ne_110m_populated_places.README.html
data/raw/global/110m_cultural/ne_110m_populated_places.prj
data/raw/global/110m_cultural/ne_110m_populated_places.dbf
data/raw/global/110m_cultural/ne_110m_populated_places.cpg
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.shx
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.shp
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.README.html
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.prj
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.dbf
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_scale_rank.cpg
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.shx
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.shp
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.README.html
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.prj
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.dbf
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lines.cpg
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.shx
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.shp
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.README.html
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.prj
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.dbf
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces_lakes.cpg
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.shx
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.shp
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.sbx
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.sbn
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.README.html
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.prj
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.dbf
data/raw/global/110m_cultural/ne_110m_admin_1_states_provinces.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.shx
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.shp
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.prj
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.dbf
data/raw/us/zcta5_data/zcta5.xml
data/raw/us/zcta5_data/zcta5.shx
data/raw/us/zcta5_data/zcta5.shp
data/raw/us/zcta5_data/zcta5.prj
data/raw/us/zcta5_data/zcta5.dbf
data/raw/us/zcta5_data/zcta5.cpg
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.shx
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.shp.xml
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.shp
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.prj
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.dbf
data/raw/us/transmission_line_data/Electric_Power_Transmission_Lines_B.cpg
data/raw/us/substations/Substations.csv
data/raw/us/population/Population-Density-Final.xlsx
data/raw/us/national_risk_index/NRI_Counties_Prod.shx
data/raw/us/national_risk_index/NRI_Counties_Prod.shp.xml
data/raw/us/national_risk_index/NRI_Counties_Prod.shp
data/raw/us/national_risk_index/NRI_Counties_Prod.prj
data/raw/us/national_risk_index/NRI_Counties_Prod.dbf
data/raw/us/national_risk_index/NRI_Counties_Prod.cpg
data/raw/Substations.csv
data/raw/global/110m_cultural/ne_110m_admin_0_tiny_countries.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.shx
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.shp
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.prj
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_sovereignty.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.shx
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.shp
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.prj
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_scale_rank.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.shx
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.shp
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.prj
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_pacific_groupings.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.shx
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.shp
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.prj
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_map_units.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.shx
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.shp
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.prj
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_countries_lakes.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_countries.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_countries.shx
data/raw/global/110m_cultural/ne_110m_admin_0_countries.shp
data/raw/global/110m_cultural/ne_110m_admin_0_countries.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_countries.prj
data/raw/global/110m_cultural/ne_110m_admin_0_countries.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_countries.cpg
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.VERSION.txt
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.shx
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.shp
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.README.html
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.prj
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.dbf
data/raw/global/110m_cultural/ne_110m_admin_0_boundary_lines_land.cpg
data/raw/global/110m_cultural/CHANGELOG
data/raw/brasil/infraestrutura_eletrica/POTEE 2018 - Rede Básica e Demais Instalações de Transmissão dep 17 18.xlsx
data/raw/brasil/infraestrutura_eletrica/MAPA_RegiaoSudesteCentroOeste_horizonte_29.pdf
data/raw/brasil/dc_links.csv
data/raw/brasil/BR_setores_CD2022/~$Dicionario_de_dados_malha_agregados.xlsx
data/raw/brasil/BR_setores_CD2022/Dicionario_de_dados_malha_agregados.xlsx
data/raw/brasil/BR_setores_CD2022/BR_setores_CD2022.shx
data/raw/brasil/BR_setores_CD2022/BR_setores_CD2022.shp
data/raw/brasil/BR_setores_CD2022/BR_setores_CD2022.prj
data/raw/brasil/BR_setores_CD2022/BR_setores_CD2022.dbf
data/raw/brasil/BR_setores_CD2022/BR_setores_CD2022.cpg
data/raw/Substations.csv
